<ion-header>
  <ion-navbar>
    <button ion-button menuToggle (click)="onClick()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <ion-select text-center #wallet placeholder="Select..." [(ngModel)]="selectedWallet"
        (ionChange)="onChange($event)">
        <ion-option value="All-Wallet" selected>All wallet</ion-option>
        <ion-option *ngFor="let item of walletlist" [value]="item.wID">{{item.name}}</ion-option>
      </ion-select>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="content">
    <div *ngFor="let day of date">
      <div class="dateBar">
        <h1 class="date" id="dateid">{{day}}</h1>
      </div>
      <div class="tranDiv" *ngIf="collection.length != 0">
        <div *ngFor="let item of collection">
          <ion-card *ngIf="(item.date) == day && ((wallet.value) == 'All-Wallet' || (wallet.value) == item.wID) "
            tappable (click)="onDetail(item.tID)">
            <table class="card">
              <tr>
                <th class="inTypeColor" *ngIf="(item.type)=='Income'">
                </th>
                <th class="exTypeColor" *ngIf="(item.type)=='Expense'">
                </th>
                <th class="saTypeColor" *ngIf="(item.type)=='Saving'">
                </th>
                <th class="detail">
                  <ion-card-header>
                    {{item.type}} ({{item.wName}})
                  </ion-card-header>
                  <ion-card-content *ngIf="(item.type)=='Income' || (item.type)=='Expense'" >
                    Tag : {{item.tag}}
                  </ion-card-content>
                  <ion-card-content *ngIf="(item.type)=='Saving'" >
                    Goal : {{item.goalName}}
                    </ion-card-content>
                  <ion-card-content  *ngIf="(item.memo)">
                    Amount : {{item.amount}} Baht    <ion-icon name="clipboard"></ion-icon>
                  </ion-card-content>
                  <ion-card-content  *ngIf="!(item.memo)">
                    Amount : {{item.amount}} Baht
                  </ion-card-content>
                </th>
              </tr>
            </table>
          </ion-card>
        </div>
      </div>
    </div>
    <div *ngIf="collection.length == 0">
      <h4 id="noTransaction" text-center>There no transaction here, add one!</h4>
    </div>
  </div>
  <ion-fab center bottom>
    <button ion-fab (click)="onAddTransaction(wallet.value)">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-fab>
</ion-content>