page-home {
  h1.date {
    color: red;
    margin: 0 auto
  }
  div.dateBar {
      padding-top: 30px;
      text-align: center;
  }
//   ion-slides.tranSlide {
//     text-align: center;
//   }
//   .slideDiv{
//     position: fixed;
//     top:75px;
//     text-align: center;
//   }
  ion-slide {
   padding: auto;
    text-align: center;
    color: blue;
  }
  button{
    border: 2px solid black;
  }
}
