<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Hello Jarvis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="dateBar">
    <h1 class="date" id="date"></h1>
  </div>
  <div class="slideDiv" *ngIf="collection.length != 0" >
    <ion-slides class="tranSlide" pager>
      <ion-slide>
        <ion-card *ngFor="let item of collection">
          <ion-card-header>
            Card Header
          </ion-card-header>
          <ion-card-content>
            {{item}}
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card-header>
          Card Header
        </ion-card-header>
        <ion-card-content>
          YO
        </ion-card-content>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="collection.length == 0">
    <h4 text-center>There no transaction here, add one!</h4>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft-circle"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="add-circle"></ion-icon></button>
      <button ion-fab><ion-icon name="clipboard"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>