<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Hello Jarvis <ion-icon name="person"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="dateBar">
    <h1 class="date" id="date">{{date[0]}}</h1>
    <!-- <h1 class="date"></h1> -->
  </div>
  <div class="slideDiv" *ngIf="collection.length != 0">
    <ion-slides class="tranSlide">
      <ion-slide *ngFor="let day of date">
        <div *ngFor="let item of collection">
          <ion-card *ngIf="(item.date) == (date[0])" >
            <ion-card-header>
              {{item.date}} {{item.type}}
            </ion-card-header>
            <ion-card-content>
              {{item.tag}} {{item.amount}} Baht {{item.memo}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="collection.length == 0">
    <h4 text-center>There no transaction here, add one!</h4>
  </div>
  <ion-fab right bottom>
    <button id="menu-button" ion-fab color="light">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="onAddTransaction()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-fab id="viewgoalbtn" (click)="onViewGoal()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>