<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wallet</ion-title>
    <ion-buttons right>
    <button  ion-button icon-only (click)="onCreateWallet()">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of collection">
    <ion-card *ngIf="item.uID == user"  tappable (click)="onDetail(item.wID,item.name)">
      <ion-card-header>
       Name : {{item.name}} 
      </ion-card-header>
      <ion-card-content>
       Balance: {{item.balance}} Baht
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>